{% extends 'base.html' %}

{% block title %}Numerical Differentiation{% endblock title %}

{% block mainbody %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="home">Homepage</a></li>

                        <li class="breadcrumb-item active" aria-current="page">Numerical Differentiation</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>

{% if messages %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
            <section class="section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-12 text-center">
                            <h3 class="mb-4">Select Method </h3>
                        </div>
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Adams-Bashforth-Moulton Predictor-Corrector of 4<sup>th</sup> order method with step-by-step solution and output plot.</h5>
                                            <p class="mb-0">Using Adams-Bashforth method of 4<sup>th</sup> order as Predictor and Adams-Moulton method of 4<sup>th</sup> order as Corrector.</p>
                                            <a href="{% url 'adams_bashforth_pc_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2"> Milne's Predictor-Corrector 4<sup>th</sup> order method with step-by-step solution and output plot. </h5>
                                            <p class="mb-0">Using Adams-Bashforth method of 4<sup>th</sup> order as a Predictor and  Milne-Simpson's method of 4<sup>th</sup> order as a Corrector.</p>
                                            <a href="{% url 'milve_adams_pc_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <!--Currently under consideration.
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Milne-Simpson's (implict,corrector) 4<sup>th</sup> order method and output plot</h5>
                                            <a href="{% url 'milve_simpson_method_with_steps' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>
                                        <span class="badge bg-design rounded-pill ms-auto" style="width: fit-content;">ID:M230923</span>
                                    </div>
                                </div>
                            </div>
                        </div>--> {% endcomment %}

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Milne-Adams-Bashforth (Explict and Predictor) 4<sup>th</sup> order method  with step-by-step solution and output plot.</h5>
                                            <p class="mb-0">This method is used during solving Milne's Predictor-Corrector problems as a Predictor Method.</p>
                                            <a href="{% url 'milve_adams_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {% comment %} <!--Currently under consideration
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Adams-moulton (Corrector-Implict) methods with step-by-step solution and output plots.<h5>
                                            <p class="mb-0">(1) Adams-Moulton I<sup>st</sup> order method (same as eulers backward method) <br>(2) Adams-Moulton II<sup>nd</sup> order method (trapezium method) <br>(3) Adams-Moulton III<sup>rd</sup> order method <br>(4) Adams-Moulton IV<sup>th</sup> order method </p>
                                            <a href="{% url 'adams_moulton_method_with_steps' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    --> {% endcomment %}

                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Adams-Bashforth (Predictor-Explict ) methods with step-by-step solution and output plots</h5>
                                            <p class="mb-0">(1) Adams-Bashforth I<sup>st</sup> order method(same as euler forward method)<br>(2) Adams-Bashforth II<sup>nd</sup> order method <br>(3) Adams-Bashforth III<sup>rd</sup> order method <br>(4) Adams-Bashforth IV<sup>th</sup> order method </p>
                                            <a href="{% url 'adams_bashforth_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Runge-Kutta Methods (All below methods are solved simultaneously and plotted)</h5>
                                                <p class="mb-0">(1) R-K 2<sup>nd</sup>order/Cauchy/Improved Eulers method<br>(2) R-K Classical 4<sup>th</sup> order method<br>(3) R-K Gill 4<sup>th</sup> order method<br>(4) R-K Fehlberg 4<sup>th</sup> order method.</p>
                                            <a href="{% url 'all_runge_kutta_methods' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Runge-Kutta (solved each method individually step-by-step solution and plotted)</h5>
                                            <p class="mb-0">(1) Eulers forward method<br>(2) R-K 2<sup>nd</sup>order/Cauchy/Improved Eulers method<br>(3) R-K Classical 4<sup>th</sup> order method<br>(4) R-K Gill 4<sup>th</sup> order method<br>(5) R-K Fehlberg 4<sup>th</sup> order method.</p>
                                            <a href="{% url 'individual_runge_kutta_methods' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Eulers Cauchy(Runge-kutta 2<sup>nd</sup> or Eulers Improved ) Method (with step-by-step solution and output plot).</h5>
                                            <p class="mb-0">Solve a given IVP with step-by-step solution.</p>
                                            <a href="{% url 'eulers_cauchy_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Eulers Forward Method (with step-by-step solution and output plot).</h5>
                                            <p class="mb-0">Solve a given IVP with step-by-step solution.</p>
                                            <a href="{% url 'eulers_forward_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12 mt-3 mx-auto">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Picards Method(with step-by-step solution).</h5>
                                            <p class="mb-0">Find an approximate solution to ODEs at the n<sup>th</sup> iteration. </p>
                                            <a href="{% url 'picards_method' %}" class="btn custom-btn mt-3 mt-lg-4">Solve</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
            </section>
        {% endblock mainbody %}

